*{
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    background-color: rgb(69, 160, 206);
    height: 70px;
}

#header h1{
    color: #c9eaf4;
    text-align: center;
    padding-top: 30px;
}

#header h2{
    color: #fdfefe;
    text-align: center;
    padding-top: 20px;
}

#formulario {
    padding-top: 10px;
    height: 1.5em;
    margin-left: 20px; 
    margin-right: 20px;  
    text-align: left; 
}

#formulario label {
    font-size: 1.2em;
    text-align: left;
    
}

#formulario button {
    font-size: 1.2em;
    width: 170px;
    text-align: center;
}

#formLogin {
    padding-top: 40px;
    text-align: center;
}

#formLogin label {
    font-size: 1.2em;
    
}

#formLogin button {
    font-size: 1.5em;
    width: 200px;
    text-align: center;
}

#index button {
    font-size: 1.2em;
    width: 170px;
    text-align: center;
}

#usersTable {
    font-size: 1.2em;
    
}

#addButton {
    font-size: 1.2em;
    width: 170px;
    text-align: center;

}

#detForm {
    padding-top: 10px;
    height: 1.5em;
    padding-left: 10px;  
    text-align: center; 
}

#detForm label {
    font-size: 1.2em;
    
}

#detForm button {
    font-size: 1.2em;
    width: 170px;
    text-align: center;
}

#editForm {
    padding-top: 10px;
    height: 1.5em;
    padding-left: 10px;  
    text-align: center; 
}

#editForm label {
    font-size: 1.2em;
    
}

#editForm button {
    font-size: 1.2em;
    width: 170px;
    text-align: center;
}
#detFoto{
    padding-top: 10px;
    size: 25px;
    height:auto;
    width:auto;
    text-align: center;
    
}

#backButton{
    font-size: 1.2em;
    width: 170px;
    text-align: center;
}

.fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #0A38F5;
  }
  .dark-pink-text {
    color: #AC003A;
  }
  .dark-amber-text {
    color: #ff6f00;
  }
  .dark-teal-text {
    color: #004d40;
  }

   .card-img-top {
    width: 100%;
    max-width: 500px;
    height: 50%;
    max-height: auto;
    object-fit: cover;
} 

/* listaUsers CSS */

.detFotoUser {
    width: 100%;
    max-width: 500px;
    height: 50%;
    max-height: auto;
    object-fit: cover;
} 


.welcomeClass{
    text-shadow: 2px 2px 5px white;
    vertical-align: middle;
    text-align: center;
}

 input[type=file]::file-selector-button {
    border: 2px solid #ECECECFF;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #0d6efdFF;;
    transition: 1s;
    color: #000000;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #0d6efd55;
    border: 2px solid #ECECECFF;
    color: #000000;
    cursor: pointer;
  } 

.btn button[type=submit]:hover{
    background: #00000000;
}

$primary: rgb(75, 162, 255);
.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: absolute;
  bottom: 30px; right: 30px;
  &:hover {
    height: 100%;
    .sub-button:nth-child(2) {
        transform: translateY(-80px);
    }
    .sub-button:nth-child(3) {
        transform: translateY(-140px);
    }
    .sub-button:nth-child(4) {
        transform: translateY(-200px);
    }
    .sub-button:nth-child(5) {
        transform: translateY(-260px);
    }
    .sub-button:nth-child(6) {
        transform: translateY(-320px);
    }
  }
  .fab {
    position: relative;
    height: 70px; width: 70px;
    background-color: $primary;
    border-radius: 50%;
    z-index: 2;
    &::before {
      content: " ";
      position: absolute;
      bottom: 0; right: 0;
      height: 35px; width: 35px;
      background-color: inherit;
      border-radius: 0 0 10px 0;
      z-index: -1;
    }
    .fab-content {
      display: flex;
      align-items: center; justify-content: center;
      height: 100%; width: 100%;
      border-radius: 50%;
      .material-icons {
        color: white;
        font-size: 48px;
      }
    }
  }
  .sub-button {
    position: absolute;
    display: flex;
    align-items: center; justify-content: center;
    bottom: 10px; right: 10px;
    height: 50px; width: 50px;
    background-color: $primary;
    border-radius: 50%;
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
    }
    .material-icons {
      color: white;
      padding-top: 6px;
    }
  }
}






  ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>'); 
}




